*.iml
.gradle
/local.properties
/.idea

.kotlin/
.kotlin/metadata

.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/Pods
androidApp/release/androidApp-release.apk
/androidApp/sentry.properties
